* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#div-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#div-1 {
    height: 160px;
    width: 100%;
    background-color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#div1-box1 {
    padding-top: 50px;

    text-transform: uppercase;
    font-size: 16px;
}
#div1-box2 {
    text-transform: capitalize;
    font-size: 6px;
}

#boxes {

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#div-2 {
    margin-top: 15px;
    
    height: 160px;
    width: 100%;

    color: black;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;

    text-align: center;

}
#div2-box1 {
    padding-top: 50px;
    text-transform: uppercase;
}
#div2-box2 {

    margin-top: 10px;
}

#div-3 {
    /* padding-top: 50px; */
    margin-top: 15px;
    height: 230px;
    width: 100%;
    color: black;
    background-color: rgb(219, 139, 139);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#div3-box1 {
    margin-top: 10px;
    font-size: 13px;
}
#div3-box2 {

    margin-top: 15px;
    padding-top: 5px;

    height: 25px;
    width: 80%;
    background-color: white;
    color: black;

    font-size: 6px;
}
#div3-box3 {

    margin-top: 7px;
    padding-top: 5px;

    height: 25px;
    width: 80%;
    background-color: white;
    color: black;
    
    font-size: 6px;

}

#div-4 {
    margin-top: 15px;
    height: 280px;
    width: 100%;
    color: black;
    background-color: lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;

}
#div4-heading {
    padding: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 8px;

}
#div4-box1 {
    margin-top: 20px;
    padding-top: 5px;

    height: 25px;
    width: 80%;
    background-color: #fff;

}
#div4-box2 {
    margin-top: 7px;
    padding-top: 5px;

    height: 25px;
    width: 80%;
    background-color: #fff;

}
#div4-box3 {
    margin-top: 7px;
    padding-top: 5px;

    height: 25px;
    width: 80%;
    background-color: #fff;

}
#div4-box4 {
    margin-top: 7px;
    padding-top: 5px;

    height: 25px;
    width: 80%;
    background-color: #fff;

}

#div-5 {
    padding: 50px;
    margin-top: 15px;
    height: 270px;
    width: 100%;
    color: black;
    background-color: rgb(125, 227, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

#contact-div {
    font-size: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

}
#div5-box1 {
    margin-top: 20px;
    padding-top: 2px;

    height: 25px;
    width: 80%;

    background-color: white;
    font-size: 7px;

}
#div5-box2 {
    margin-top: 12px;
    padding-top: 2px;

    height: 25px;
    width: 80%;

    background-color: white;
    font-size: 7px;
}
#div5-box3 {
    margin-top: 8px;
    padding-top: 2px;

    height: 25px;
    width: 80%;

    background-color: white;
    font-size: 7px;

}




