@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
    font-family: apple;
    background-color: white;
}

#main {
    height: 100%;
    width: 100%;
}

#nav {
    height: 60px;
    width: 100%;
    background-color: #222;
    font-weight: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#center {
    height: 85%;
    width: 100%;
    text-align: center;
    padding-top: 50px;

    background-color: black;

    /* overflow is given to parent div */
    overflow: hidden;
}
#center h1 {
    font-size: 60px;
}
#center h5 {
    font-size: 25px;
}

button {
    margin-top: 20px;
    padding: 13px 25px;
    color: white;
    background-color: rgb(82, 82, 255);
    border-radius: 50px;
    border: none;
    font-weight: 100;
}
button:hover {
    background-color: aqua;
}

img {
    /* margin-top: 20px; */
    height: 600px;
    width: 900px;
    object-fit: contain;
}

#second {
    width: 100%;
    height: 100%;
    background-color: #222;

    background-image: url(https://www.apple.com/newsroom/videos/2025/autoplay/09/apple-iphone-17-pro-camera-center-stage/posters/Apple-iPhone-17-Pro-camera-Center-Stage-250909.jpg.large_2x.jpg);
    background-size: cover;
}



