* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: beige;
}

#main {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 350px;
    height: 350px;
    background-color: #fff;
    margin: 15px;
    border-radius: 15px;

    overflow: hidden;

    position: relative;
}

img {
    width: 350px;
    height: 350px;
    object-fit: cover;

}

.bottom {
    width: 100%;
    height: 40%;
    background-color: black;

    background: linear-gradient(transparent, black);

    position: absolute;
    bottom: -40%;

    transition: all ease 0.4s;

    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card:hover .bottom {
    bottom: 0%;
}
.card h4 {
    color: #fff;
}
.card h3 {
    padding: 1px;
    background-color: white;
}



