/* ADDING LOCAL FONT FROM GOOGLE */
@font-face {
    font-family: kaliya;
    src: url(./Super\ Cursed.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
}

#main {
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/2098428/pexels-photo-2098428.jpeg);
    background-size: cover;
    background-position: center;
    font-family: kaliya;
    font-size: 40px;
    /* aligning text */
    text-align: center;
    padding-top: 150px;

}

h1:hover {
    color: aqua;
    font-size: 65px;
    padding: 45px;

}

button {
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 5px;
    color: aqua;
    background-color: transparent;
    border: 1px solid beige;
}
button:hover {
    color: black;
    background-color: white;
}