@font-face {
    font-family: apple;
    src: url(./iPhone/MYRIADPRO-BOLD.OTF);
}
@font-face {
    font-family: regular;
    src: url(./iPhone/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: semi-bold;
    src: url(./iPhone/MYRIADPRO-SEMIBOLD.OTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    color: black;
}

main {
    height: 100%;
    width: 100%;
    background-color: white;
}

nav {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 65px;
}
#nav-part1 {
    font-family: semi-bold;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    gap: 7px;
}
#nav-part1 i {
    font-size: 32px;
}
nav h1 {
    font-family: apple;
    font-size: 20px;
}

#nav-part2 {
    font-size: 13px;
    font-weight: 200;
    font-family: regular;
    display: flex;
    align-items: center;

    position: relative;
    gap: 50px;
}

button {
    border-radius: 50px;
    font-size: 11px;

    margin-right: 8px;
}
#btn-1 {
    padding: 11px 16px;
    
    color: rgb(77, 136, 201);
    background-color: transparent;
    border: 1px solid rgb(77, 136, 201);
}
#btn-2 {
    padding: 11px 19px;

    color:aliceblue;
    background-color: rgb(3, 97, 252);

    border: none;
}

#section {
    margin-left: 7px;
    padding: 38px 55px;
    
    height: 730px;
    width: 99%;
    background-color: rgb(245, 247, 249);
    /* background-color: red; */
    font-family: regular;

    border-radius: 5px;

    
}
#center-top {
    display: flex;
}
#section h2 {
    font-size: 38px;
    margin-left: 20px;
    margin-right: 85px;
}
#section p {
    font-size: 13px;
}
#center-btns {
    border-radius: 50px;
    font-size: 11px;

    margin-right: 8px;
    margin-top: 30px;
    margin-left: 338px;
}
#center-btn1 {
    padding: 11px 19px;

    color:aliceblue;
    background-color: rgb(3, 97, 252);

    border: none;
}
#center-btn2 {
    padding: 11px 16px;
    
    color: rgb(77, 136, 201);
    background-color: transparent;
    border: 1px solid rgb(77, 136, 201);
}
#image {
    height: 500px;
    width: 99%;
    margin-top: 40px;
    
    background-color: aqua;

    border-radius: 15px;

    overflow: hidden;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#section-2 {
    height: 260px;
    width: 100%;
    background-color: #fff;
}
#upper-div {
    padding-top: 75px;
    /* padding-left: 130px; */
    font-family: regular;
    font-weight: 100;
    font-size: 28px;

    display: flex;
    justify-content: center;
    gap: 160px;
}
#bottom-div {
    display: flex;
    justify-content: center;
    gap: 130px;

    text-align: center;
}