@font-face {
    font-family: bold;
    src: url(./iPhone/iPhone/MYRIADPRO-BOLD.OTF);
}

@font-face {
    font-family: regular;
    src: url(./iPhone/iPhone/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: semi-bold;
    src: url(./iPhone/iPhone/MYRIADPRO-SEMIBOLD.OTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    color: black;
    background-color: lightblue;

    /* font-family: bold; */
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {

    margin: 20px;
    padding: 25px;
    height: 250px;
    width: 210px;
    background-color: #fff;

    border-radius: 10px;
    text-align: center;

    box-shadow: 7px 5px 20px black;
}
.card img {
    height: 80px;
    width: 80px;
    border-radius: 50%;

    margin-bottom: 5px;
    
}
.card h3 {
    margin-bottom: 7px;
}
.card p {
    margin-bottom: 15px;

    font-size: 14px;
}
.card button {
    padding: 8px 25px;
    margin-bottom: 10px;

    color: white;
    background-color: darkblue;
    border-radius: 50px;
    border: none;
}
.card button:hover {
    color: navy;
    background-color: transparent;

    border: 1px solid black;
}






